:root {
  --primary-color: lightgreen;
  --border-color: #ddd;
  --box-size: 28rem;
  --animation-half-period: 0.5s;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.auth-form-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.auth-form-container > * {
  width: 100%;
  max-width: var(--box-size);
  padding: 2rem;
  background-image: linear-gradient(to right, linen, papayawhip);
}
.auth-form {
  overflow: hidden;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
form > div {
  width: 100%;
  padding: 0.8rem 0;
}
.form-input {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}
.hidden {
  display: none;
}
input {
  font-size: 0.875rem;
}
button, input[type='submit'] {
  box-sizing: border-box;
  background: none;
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  color: inherit;
  cursor: pointer;
  font: inherit;
  line-height: 2em;
  padding: 0.2rem;
}

input[type="submit"] {
  width: 100%;
  background-color: var(--primary-color);
  font-weight: bold;
}
.form-checkbox {
  display: flex;
  align-items: center;
}
.alternative-action-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0;
}
.alternative-action {
  border: none;
  font-weight: bold;
}
.alternative-action:hover, .alternative-action:focus {
  text-decoration: underline;
}
.social-container {
  display: flex;
  justify-content: center;
}
a {
  text-decoration: none;
  color: var(--primary-color);
}
a:hover, a:focus {
  text-decoration: underline;
}
a.social {
  color: var(--border-color);
  border: 1px solid var(--border-color);
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
}
a.social:hover, a.social:focus {
  color: inherit;
  text-decoration: none;
}

/* for wider screens: */

@media (min-width: 48rem) {
  .auth-form-container {
    flex-wrap: nowrap;
    height: var(--box-size);
    width: calc( 2 * var(--box-size));
  }
  .auth-form-container > * {
    height: 100%;
    width: 50%;
    max-width: none;
  }
  .auth-form {
    background-image: linear-gradient(to right, linen, papayawhip);
  }
  .alternative-action-container {
    padding-top: 2rem;
    background-image: linear-gradient(to right, papayawhip, linen);
  }
}


/* ANIMATION */

.animated {
  -webkit-animation-duration: var(--animation-half-period, 0.5s);
  animation-duration: var(--animation-half-period);
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes slideOutLeft {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(-150%, 0, 0);
    transform: translate3d(-150%, 0, 0);
  }
}

@keyframes slideOutLeft {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(-150%, 0, 0);
    transform: translate3d(-150%, 0, 0);
  }
}

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(-150%, 0, 0);
    transform: translate3d(-150%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(-150%, 0, 0);
    transform: translate3d(-150%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.goAway{
  -webkit-animation-name: slideOutLeft;
  animation-name: slideOutLeft;
}

.comeBack {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}
